

<h3>Most featured shows:</h3>
    <% 100.times do |i| %>
    <div class="row"></div>
        <div class="column">
            <h3><%= @shows[i]['Name']%><br></h3>
            <%= link_to image_tag("#{@shows[i]['SmallImageUrl']}"), event_path(@shows[i]['EventId']) %>
        </div>
    </div>
    <% end %>
    
   

