<h3>Most featured shows:</h3>
<%= will_paginate @shows, renderer: BootstrapPagination::Rails %>
<% @shows.each do |show| %>
    <div class="row"></div>
    <div class="column">
        <h3><%= show['Name']%><br></h3>
        <%= link_to image_tag("#{show['SmallImageUrl']}"), event_path(show['EventId']) %> 
    </div>

    </div>
<% end %>